<mat-toolbar color="primary">
  <span>Mean Anzu</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/posts/posts" routerLinkActive="mat-accent"
    >Post List</a
  >
  <a
    *ngIf="userIsAuthentificated"
    mat-button
    routerLink="/posts/create"
    routerLinkActive="mat-accent"
    >Create Post</a
  >
  <a
    *ngIf="!userIsAuthentificated"
    mat-button
    routerLink="/login"
    routerLinkActive="mat-accent"
    >Login</a
  >
  <a
    *ngIf="!userIsAuthentificated"
    mat-button
    routerLink="/signup"
    routerLinkActive="mat-accent"
    >SingUp</a
  >
  <button *ngIf="userIsAuthentificated" mat-button (click)="onLogout()">
    Logout
  </button>
</mat-toolbar>
